/* line 59, ../sass/_sprite.sass */
.sprite-star, .sprite-star-f0001, .sprite-star-f0002, .sprite-star-f0003, .sprite-star-f0004, .sprite-star-f0005, .sprite-star-f0006, .sprite-star-f0007, .sprite-star-f0008, .sprite-star-f0009, .sprite-star-f0010, .sprite-star-f0011, .sprite-star-f0012, .sprite-star-f0013, .sprite-star-f0014, .sprite-star-f0015, .sprite-star-f0016, .sprite-star-f0017, .sprite-star-f0018, .sprite-star-f0019, .sprite-star-f0020, .sprite-star-f0021, .sprite-star-f0022, .sprite-star-f0023, .sprite-star-f0024, .sprite-star-f0025, .sprite-star-f0026, .sprite-star-f0027, .sprite-star-f0028, .sprite-star-f0029, .sprite-star-f0030 {
  background-image: url('../images/sprite-star-s3d479a5077.png');
  background-image: url('../images/sprite-star-s3d479a5077.png'), none;
  background-repeat: no-repeat;
  -moz-background-size: 1620px, 50px;
  -o-background-size: 1620px, 50px;
  -webkit-background-size: 1620px, 50px;
  background-size: 1620px, 50px;
  display: block;
  text-indent: -9999px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0001 {
  background-position: 0 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0002 {
  background-position: -54px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0003 {
  background-position: -108px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0004 {
  background-position: -162px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0005 {
  background-position: -216px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0006 {
  background-position: -270px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0007 {
  background-position: -324px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0008 {
  background-position: -378px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0009 {
  background-position: -432px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0010 {
  background-position: -486px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0011 {
  background-position: -540px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0012 {
  background-position: -594px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0013 {
  background-position: -648px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0014 {
  background-position: -702px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0015 {
  background-position: -756px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0016 {
  background-position: -810px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0017 {
  background-position: -864px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0018 {
  background-position: -918px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0019 {
  background-position: -972px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0020 {
  background-position: -1026px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0021 {
  background-position: -1080px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0022 {
  background-position: -1134px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0023 {
  background-position: -1188px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0024 {
  background-position: -1242px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0025 {
  background-position: -1296px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0026 {
  background-position: -1350px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0027 {
  background-position: -1404px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0028 {
  background-position: -1458px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0029 {
  background-position: -1512px 0;
  width: 50px;
  height: 50px;
}

/* line 69, ../sass/_sprite.sass */
.sprite-star-f0030 {
  background-position: -1566px 0;
  width: 50px;
  height: 50px;
}

@-moz-keyframes sprite-star-anim {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1620px 0px;
  }
}
@-webkit-keyframes sprite-star-anim {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1620px 0px;
  }
}
@keyframes sprite-star-anim {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1620px 0px;
  }
}
/* line 86, ../sass/_sprite.sass */
.sprite-star-anim {
  width: 50px;
  height: 50px;
  -moz-animation: sprite-star-anim 1s steps(30, end) 0s infinite;
  -webkit-animation: sprite-star-anim 1s steps(30, end) 0s infinite;
  animation: sprite-star-anim 1s steps(30, end) 0s infinite;
}
