/* line 59, ../sass/_sprite.sass */
.my-star-anim {
  background-image: url('../images/sprite-star-s3d479a5077.png');
  background-image: url('../images/sprite-star-s3d479a5077.png'), none;
  background-repeat: no-repeat;
  -moz-background-size: 1620px, 50px;
  -o-background-size: 1620px, 50px;
  -webkit-background-size: 1620px, 50px;
  background-size: 1620px, 50px;
  display: block;
  text-indent: -9999px;
}

@-moz-keyframes sprite-star-anim {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1620px 0px;
  }
}
@-webkit-keyframes sprite-star-anim {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1620px 0px;
  }
}
@keyframes sprite-star-anim {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1620px 0px;
  }
}
/* line 86, ../sass/_sprite.sass */
.my-star-anim {
  width: 50px;
  height: 50px;
  -moz-animation: sprite-star-anim 1s steps(30, end) 0s infinite;
  -webkit-animation: sprite-star-anim 1s steps(30, end) 0s infinite;
  animation: sprite-star-anim 1s steps(30, end) 0s infinite;
}
